@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MvcUniversity</h1>
    <p>Campus management done right.</p>
    @{
        //Les images sont stockés dans un dossier dans wwwroot
    }
    <a href="https://ensc.bordeaux-inp.fr/"><img src="images/ensc.jpg" /></a>
</div>
